<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{ this.title }}</title>

        <link rel="icon" href="/img/favicon.ico" />

        <meta
            name="description"
            content="official website of Plabayo — FOSS dev and consultancy studio"
        />
        <meta name="robots" content="index,follow" />
        <link rel="canonical" href="https://plabayo.tech/" />

        <meta property="og:title" content="plabayo" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta
            property="og:description"
            content="official website of Plabayo — FOSS dev and consultancy studio"
        />
        <meta property="og:url" content="https://plabayo.tech/" />
        <meta property="og:site_name" content="plabayo" />
        <meta property="og:image" content="https://plabayo.tech/img/og.jpeg" />

        <script src="/js/htmx.min.js"></script>
        <script type="module" src="/js/plabayo.js"></script>

        <link rel="stylesheet" href="/css/missing.min.css?v=1.1.1" />
        <link rel="stylesheet" href="/css/style.css?t=plabayo&v=0.1.0" />
    </head>

    <body>
        <main class="width:100%" style="max-width: 650px">
            <header class="width:100% center" style="margin: 0 0 10px 0">
                <h1 style="margin: 0">
                    <a href="/">Plabayo</a>
                </h1>
                <section class="tool-bar" style="margin: 5px; padding: 5px">
                    <a href="/#projects">🏖️&nbsp;projects</a>
                    <a href="mailto:hello@plabayo.tech"
                        >✉️&nbsp;hello@plabayo.tech</a
                    >
                    <a href="https://github.com/sponsors/plabayo"
                        >🤝&nbsp;sponsor&nbsp;us</a
                    >
                    <a href="https://discord.gg/ssgbDnpXp7">💬&nbsp;discord</a>
                    <a href="https://github.com/plabayo/website"
                        >🏔️&nbsp;source&nbsp;code</a
                    >
                </section>
            </header>

            <div id="content" class="center" style="padding: 5px">
                {% block content %}{% endblock %}
            </div>
        </main>
    </body>
</html>
