<nav>
    {% for page in ctx.pages %} {% match page.card %} {% when Some with (card)
    %}{% if this.slug != page.slug %}
    <a class="button active" href="/{{ page.slug }}"
        ><div class="{{ card.style }}">
            <span>{{ card.icon }}</span> {{ card.button_title }}
        </div>
    </a>
    {% else %}
    <span class="button idle">
        <div class="{{ card.style }}">
            <span>{{ card.icon }}</span> {{ card.button_title }}
        </div>
    </span>
    {% endif %} {% when None %} {% endmatch %} {% endfor %}
</nav>
