{% extends "layouts/base.html" %}

{% block head %}

<title>Plabayo</title>

<meta name="author" content="Glen De Cauwsemaeker">
<meta name="description" content="official website for plabayo.tech">
<meta name="keywords" content="org,OSS,open source,free and open source,plabayo,portfolio,info,blog,tech,software,education">

<link rel="canonical" href="https://plabayo.tech/" />

<meta property="og:title" content="Official Plabayo Website" />
<meta property="og:description" content="Blog, portfolio and consultancy website for plabayo.tech." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://plabayo.tech/" />

<meta property="og:image" content="https://raw.githubusercontent.com/plabayo/design/main/art/2d/bin/hero_banner_og.png" />
<meta property="og:image:secure_url" content="https://raw.githubusercontent.com/plabayo/design/main/art/2d/src/hero_banner_og.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="Plabayo's OG Logo Hero Banner" />

{% endblock head %}

{% block content %}

<article>

<h1>Plabayo</h1>

<p>
    We are located in Ghent, Belgium and
    are available with events on premise within Belgium. 
</p>

<p>
    Remotely we are open to any location and timezone.
</p>

<h2>Consulting</h2>

<h3>Glen</h3>

<p>
    Glen offers his consultancy services within the realms of software:
</p>

<div class="bullet-points-list">
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            🛠️
        </div>
        <div class="bullet-point-text">
            The entire software development cycle;
        </div>
    </div>
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            💻
        </div>
        <div class="bullet-point-text">
            Including, but not only limited to, architecture,
            prototyping, R&D, technical UX, development, testing, reviewing and debugging;
        </div>
    </div>
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            ⚙️
        </div>
        <div class="bullet-point-text">
            Topics include backend development,
            data scraping, tooling, automatization, game programming,
            game engine development, API design and more;
        </div>
    </div>
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            🧰
        </div>
        <div class="bullet-point-text">
            Programming language expertise in Rust, Go and Python,
            with a background in C++ and comfortable with many other languages;
        </div>
    </div>
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            📜
        </div>
        <div class="bullet-point-text">
            Workshops, classes, mentoring and talks are also possible.
        </div>
    </div>
</div>

<p>
    <strong>
        Rates and terms are agreed upon directly with
        the client and are in function of their needs and requirements.
    </strong>
</p>

<h4>Biography</h4>

<p>
    Glen is the Lead Crawler Engineer at <a href="https://www.otainsight.com/" rel="nofollow">OTA Insight</a> (200+ employees, of which 50+ engineers), with over ten years of experience,
    where he drives the technical road map and innovation with a team of 4 other engineers. Within this role he not only designs and plans technical endeavour.
    Besides researching, developing and maintaining crawlers, he also maintains and creates new projects related to proxy/networking services,
    backend services and libraries, automated browser solutions, fingerprinting, tooling and a trivia of cross-platform and language agnostic reverse engineering activities.
    As part of all this as well as the maintenance of almost two hundred different active crawlers, there is a lot of R&D involved for a variety of different purposes.
</p>

<p>
    Previous to working at OTA Insight he has worked — From several countries in South America —
    on operating systems, cloud infrastructure and independent blockchain technology for a decentralized cloud network on the edge.
    The first five years of his career he was active in the Game Industry where he worked on Serious VR Games for Training and Medical purposes,
    Game Engines, Cross platform video games, backend services, tooling, libraries, R&D work and Mobile Games such as
    <a href="https://www.angrybirds.com/games/angry-birds-transformers/" rel="nofollow">Angry Birds Transformers</a> while living in the UK.
</p>

<p>
    Besides his active professional life he is also a full time father of two energetic children, raising them together with Elizabeth,
    where he learns to become an expert in soft skills of all kinds. Self-educating himself and various Open-Source related activities
    are what fills the remainder of his time not spent in bed snoring in tune with the birds.
</p>

<p>
    You can learn more about his professional history and recommendations at <a href="https://www.linkedin.com/in/glendc/" rel="nofollow">https://www.linkedin.com/in/glendc/</a>.
</p>

<h4>Hire Glen</h4>

<blockquote>
    <p>
        Availability is limited. If interested,
        please reach out to Glen by email on
        <a href="mailto:glen@plabayo.tech">glen@plabayo.tech</a>.
    </p>
    <p>
        You can find and hire Glen also at <a href="https://www.freelancer.com/u/glendcbe" rel="nofollow">Freelancer</a>
        as well as <a href="https://www.upwork.com/freelancers/~01e0b6f0c42ce7e320" rel="nofollow">Upwork</a>.
    </p>
</blockquote>

<h3>Elizabeth</h3>

<p>
    Elizabeth can be hired as a consultant as well.
    She's the person you're looking for if you are in
    need of a consultant related to:
</p>

<div class="bullet-points-list">
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            👩‍🏫
        </div>
        <div class="bullet-point-text">
            Education inspired by montessori;
        </div>
    </div>
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            👶
        </div>
        <div class="bullet-point-text">
            Conscious parenting;
        </div>
    </div>
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            ⚡
        </div>
        <div class="bullet-point-text">
            Process automatization and business analytics.
        </div>
    </div>
</div>

<p>
    She can find a fitting solution to any problem and does so with great passion.
</p>

<h4>Hire Elizabeth</h4>

<blockquote>
    <p>
        If you want to make use of her services you can reach
        her by email on
        <a href="mailto:elizabeth@plabayo.tech">elizabeth@plabayo.tech</a>.
    </p>
</blockquote>

</article>

{% endblock content %}
