{% extends "base.html" %} {% block content %} {% include "includes/nav.html" %}
<main>
    <p>
        Plabayo was co-founded in 2021 by
        <a href="https://www.elizadc.me/"
            >👩‍💻&nbsp;Elizabeth C. Gonzales Belsuzarri</a
        >
        and
        <a href="https://www.glendc.com/"
            >👨‍💻&nbsp;Glen Henri J. De Cauwsemaecker</a
        >
        as a Free and Open Source Software (FOSS) dev and consultancy
        studio&nbsp;🏡.
    </p>
    <p>
        Reach out to us at
        <a href="mailto:hello@plabayo.tech">✉️&nbsp;hello@plabayo.tech</a>
        to hire our services, give feedback or to just say&nbsp;hi&nbsp;👋.
    </p>
    <p>
        If you like our work and would like to donate to us, you can do so at
        <a href="https://github.com/sponsors/plabayo"
            >🤝&nbsp;https://github.com/sponsors/plabayo</a
        >
        or you can
        <a href="https://www.buymeacoffee.com/plabayo"
            >☕️&nbsp;buy&nbsp;us&nbsp;a&nbsp;coffee</a
        >.
    </p>
</main>
{% endblock %}
