{% extends "base.html" %} {% block content %} {% include "includes/nav.html" %}
<main class="article">
    <article>
        {% match this.card %} {% when Some with (card) %}
        <h1>{{ this.header }}</h1>
        {{ card.description_short|safe }} {% when None %} {% endmatch %}

        <h2>Testimonials</h2>

        <p>
            With over a decade of experience in software development, team
            training, and data extraction, our team has the skills and expertise
            needed to help your business succeed. Don't just take our word for
            it - here are a couple of testimonials from people who have worked
            with Glen in the past two decades:
        </p>

        <hr />

        <blockquote>
            <p>
                I've had the pleasure of working with Glen for five years,
                tackling everything from complex web scraping projects to
                low-level networking challenges. His keen eye for detail and
                methodical approach to problem-solving have been invaluable, and
                I've watched with admiration as he's grown into one of our
                team's most trusted technical experts.
            </p>
            <p>
                But Glen's real superpower is how he lights up when sharing his
                knowledge with others. Whether he's helping junior devs debug
                their code, geeking out about Rust, or advocating for
                open-source contributions, his enthusiasm is contagious. He's
                got this rare gift for making tricky concepts click for people,
                and he's genuinely invested in seeing his colleagues succeed.
                Any team would be lucky to have him.
            </p>
        </blockquote>
        <p>
            — Glenn Vandamme, Chief Information Security Officer at Lighthouse
        </p>

        <blockquote>
            <p>
                Glen is one of the most inspiring people you can work with. He's
                accurate, sharp, helps everyone to grow. Simply one of the best
                in the industry.
            </p>
        </blockquote>
        <p>— Ahmed Thabet, Engineering Manager @ Codescalers Egypt</p>

        <blockquote>
            <p>
                Glen is a top noch software engineer. One of best i guys i
                worked with in my career. Glen's primary interest is to build
                solid software using industry standard methodologies.
            </p>
        </blockquote>
        <p>— Geert Audenaert, Co-Founder @ whitesky.cloud</p>

        <blockquote>
            <p>
                Glen is a unique and interesting programmer. Full of enthusiasm
                and great ideas, he never seemed to stop in his quest to
                implement new features and improve existing ones.
                Characteristically eccentric in his approach, I found Glen a
                great addition to the Studio - both when he was here in person
                and after he went freelance so he could explore more of the
                world while continuing to code.
            </p>
        </blockquote>
        <p>— Nick Harper, Studio Head @ Electric Square</p>

        <hr />

        <p>
            We take pride in our ability to deliver high-quality services that
            meet the unique needs of each of our clients. Whether you need help
            with software development, team training, or data extraction, we
            have the experience and expertise needed to get the job done right.
        </p>

        <h2>Legal</h2>

        <p>
            Plabayo is registered in Belgium's CBE as
            <a
                href="https://kbopub.economie.fgov.be/kbopub/zoeknummerform.html?lang=en&nummer=0790842087&actionLu=Zoek"
            >
                number 0790842087</a
            >. Our EU VAT ID is <code>BE0790842087</code>.
        </p>
    </article>
</main>
{% endblock %}
