<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{ this.title }}</title>

        <!-----------------------------------------------------
               _       _
              | |     | |
         _ __ | | __ _| |__   __ _ _   _  ___
        | '_ \| |/ _` | '_ \ / _` | | | |/ _ \
        | |_) | | (_| | |_) | (_| | |_| | (_) |
        | .__/|_|\__,_|_.__/ \__,_|\__, |\___/
        | |                         __/ |
        |_|                        |___/

        Looking for expert reverse engineering services?
        Contact us at hello@plabayo.tech to
        get reliable and secure solutions.
        ------------------------------------------------------>

        <link rel="icon" href="/favicon.ico" />

        <meta
            name="description"
            content="Plabayo — FOSS dev and consultancy studio"
        />
        <meta name="robots" content="index,follow" />
        <link rel="canonical" href="https://plabayo.tech/" />

        <meta property="og:title" content="Plabayo" />
        <meta property="og:locale" content="en" />
        <meta property="og:type" content="website" />
        <meta
            property="og:description"
            content="Plabayo — FOSS dev and consultancy studio"
        />
        <meta property="og:url" content="https://plabayo.tech/" />
        <meta property="og:site_name" content="Plabayo" />
        <meta property="og:image" content="https://plabayo.tech/img/og.jpeg" />

        <script src="/js/htmx.min.js"></script>

        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body hx-boost="true">
        <header {% if this.slug !="" %}class="grid" {% endif %}>
            <div>
                <span class="nuance icon">&gt;</span>
                <span>&nbsp;plabayo.tech/{{ this.slug }}</span>
                <span class="cursor">&nbsp;</span>
            </div>
            {% if this.slug !="" %}
            <div id="nav-spinner-home" class="htmx-indicator">
                {% include "includes/bars.svg" %}
            </div>
            <a
                href="/"
                title="Go to the homepage"
                hx-indicator="#nav-spinner-home"
                ><div class="hover-icon"><span>🏠&nbsp;Home</span></div></a
            >
            {% endif %}
        </header>
        <div id="content">{% block content %}{% endblock %}</div>
        <footer>
            <div>
                <a href="mailto:hello@plabayo.tech"
                    >contact us: 📧&nbsp;hello@plabayo.tech</a
                >
            </div>
            <div>
                <small
                    >(&FilledVerySmallSquare;
                    <a
                        href="https://github.com/plabayo/website/tree/{{ ctx.git_sha }}"
                        title="View the sourcecode of this website."
                        >{{ ctx.git_sha }}</a
                    >)</small
                >
            </div>
        </footer>
    </body>
</html>
