<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>plabayo</title>

        <link rel="icon" href="/static/img/favicon.ico" />

        <meta
            name="description"
            content="official website of Plabayo — FOSS dev and consultancy studio"
        />
        <meta name="robots" content="index,follow" />
        <link rel="canonical" href="https://plabayo.tech/" />

        <meta property="og:title" content="plabayo" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta
            property="og:description"
            content="official website of Plabayo — FOSS dev and consultancy studio"
        />
        <meta property="og:url" content="https://plabayo.tech/" />
        <meta property="og:site_name" content="plabayo" />
        <meta
            property="og:image"
            content="https://plabayo.tech/static/img/og.jpeg"
        />

        <script src="/static/js/htmx.min.js?v=2.0.1"></script>

        <link rel="stylesheet" href="/static/css/style.css?t=plabayo&v=2.0.0" />
    </head>
    <body>
        <header>
            <div>
                <a href="/">
                    <span class="nuance">&gt;</span>
                    <span>&nbsp;plabayo.tec</span>
                    <span class="cursor">h</span>
                </a>
            </div>
            <div>
                <span>FOSS dev and consultancy studio</span>
            </div>
        </header>
        <div id="content">{% block content %}{% endblock %}</div>
        <footer>
            <div>
                contact us: 📧&nbsp;<a href="mailto:hello@plabayo.tech"
                    >hello@plabayo.tech</a
                >
            </div>
        </footer>
    </body>
</html>
