{% extends "layouts/base.html" %}

{% block head %}

<link rel="canonical" href="https://plabayo.tech/blog/" />

<title>Plabayo — Blog</title>

<meta name="author" content="Glen De Cauwsemaeker">
<meta name="description" content="official website for plabayo.tech">
<meta name="keywords" content="org,OSS,open source,free and open source,plabayo,portfolio,info,blog,tech,software,education">

<meta property="og:title" content="Plabayo's playful blog for serious ideas" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://plabayo.tech/blog/" />
<meta property="og:description" content="Articles about our projects, ideas, tech and more." />

<meta property="og:image" content="https://raw.githubusercontent.com/plabayo/design/main/art/2d/bin/hero_banner_og.png" />
<meta property="og:image:secure_url" content="https://raw.githubusercontent.com/plabayo/design/main/art/2d/src/hero_banner_og.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="Plabayo's Original Logo Hero Banner" />

{% endblock head %}

{% block content %}

{{ section.content | safe }}

<article>

<p>
  {{ trans(key="name", lang=lang) }}
</p>

<p>
  On this page you find all our articles. You can also filter on a specific author:
  {% set taxonomy_authors = get_taxonomy(kind="blog_authors") %}
  {% for author in taxonomy_authors.items %}
    "<a href="/blog-authors/{{ author.slug }}">{{ author.name }}</a>"
    {% if not loop.last %}
    , 
    {% endif %}
  {% endfor %}
</p>

<p>
  Besides labeling the authors for each article we also make use of tags (<span class="emoji-label">🏷</span>):
  {% set taxonomy_tags = get_taxonomy(kind="blog_tags") %}
  {% for tag in taxonomy_tags.items %}
    "<a href="/blog-tags/{{ tag.slug }}">{{ tag.name }}</a>"
    {% if not loop.last %}
    , 
    {% endif %}
  {% endfor %}
</p>

<div id="blog-article-list">
  {% for page in section.pages %}
  <article>
    <h2><a href="/blog/{{ page.slug }}">{{ page.title }}</a></h2>, <span class="blog-article-title">{{ page.day }} {{ macros::month(n=page.month) }} {{ page.year }}</span>
    <section>
      <p class="blog-article-author">
        {% for author in page.taxonomies.blog_authors %}
          <a href="/blog-authors/{{ author | slugify}}">{{ author }}</a>
          {% if not loop.last %}
          , 
          {% endif %}
        {% endfor %}
      </p>
      <p class="blog-article-tags">
        <span class="emoji-label">🏷</span> tags: 
        {% for tag in page.taxonomies.blog_tags %}
          <a href="/blog-tags/{{ tag | slugify}}">{{ tag }}</a>
          {% if not loop.last %}
          , 
          {% endif %}
        {% endfor %}
      </p>
      <p>{{ page.description }}</p>
    </section>
  </article>
  {% endfor %}
</div>

</article>

{% endblock content %}
