{% extends "layouts/base.html" %}

{% block head %}

  <link rel="canonical" href="https://plabayo.tech/blog/{{ page.slug }}/" />

  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://raw.githubusercontent.com/plabayo/design/main/art/2d/src/hero_banner_default_light.svg" />
  <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/plabayo/design/main/art/2d/src/hero_banner_default_light.svg" />
  <meta property="og:image:type" content="image/svg" />
  <meta property="og:image:width" content="1277" />
  <meta property="og:image:height" content="701" />
  <meta property="og:image:alt" content="Plabayo's Original Logo Hero Banner" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:url" content="https://plabayo.tech/blog/{{ page.slug }}/" />
  <meta property="article:published_time" content="{{ page.date }}" />
  {% for author in page.taxonomies.blog_authors %}
  <meta property="article:author" content="{{ author }}" />
  {% endfor %}
  {% for tag in page.taxonomies.blog_tags %}
  <meta property="article:tag" content="{{ tag }}" />
  {% endfor %}

{% endblock head %}


{% block content %}

<p>
  <a href="/blog"  class="subtle-link">The Plabayo Blog</a>
</p>

<article>
  <div id="article-header">
    <h1 class="title">
      {{ page.title }}
    </h1>
    <p class="subtitle"><strong>
      {% for author in page.taxonomies.blog_authors %}
        <a href="/blog-authors/{{ author | slugify}}">{{ author }}</a>
        {% if not loop.last %}
        , 
        {% endif %}
      {% endfor %}
    </strong></p>
    <p class="subtitle">
      <span class="emoji-label">🏷</span> tags: 
      {% for tag in page.taxonomies.blog_tags %}
        <a href="/blog-tags/{{ tag | slugify}}">{{ tag }}</a>
        {% if not loop.last %}
        , 
        {% endif %}
      {% endfor %}
    </p>
    <p class="subtitle"><strong>{{ page.day }} {{ macros::month(n=page.month) }} {{ page.year }}</strong></p>
  </div>

  <section>
    <div id="article-content">
      {{ page.content | safe }}
    </div>
  </section>
</article>

<nav id="blog-nav">
  <p>
    Did you find a mistake in this blog article or have an improvement in mind?
  </p>
  <p>
    You can 
    <a href="https://github.com/plabayo/website/edit/main/content/blog/{{ page.date }}_{{ page.slug | replace(from='-', to='_') }}.md" rel="nofollow">
      start by modifying the article's content
    </a> and open a Pull Request afterwards.
  </p>

  <div class="bullet-points-list">
    {% if page.earlier %}
    <a href="/blog/{{ page.earlier.slug }}">
      <div class="bullet-point-item bullet-point-item-center">
        <div class="bullet-point-mark">
          ⬅️
        </div>
        <div class="bullet-point-text">
          <strong>Previous Article</strong>:
          {{ page.earlier.title }}
        </div>
      </div>
    </a>
    {% endif %}
    {% if page.later %}
    <a href="/blog/{{ page.later.slug }}">
      <div class="bullet-point-item bullet-point-item-center">
        <div class="bullet-point-mark">
          ➡️
        </div>
        <div class="bullet-point-text">
          <strong>Next Article</strong>:
          {{ page.later.title }}
        </div>
      </div>
    </a>
    {% endif %}
    <a href="/blog">
      <div class="bullet-point-item bullet-point-item-center">
        <div class="bullet-point-mark">
          📚
        </div>
        <div class="bullet-point-text">
          Blog Index
        </div>
      </div>
    </a>
  </div>
</nav>
{% endblock content %}