{% extends "layouts/base.html" %}

{% block content %}

<p>
  <a href="/blog" style="text-decoration: none;">The Plabayo Blog</a>
</p>

<div id="article-header">
  <h1 class="title">
    {{ page.title }}
  </h1>
  <p class="subtitle"><strong>{{ page.extra.author }}</strong></p>
  <p class="subtitle"><strong>{{ page.day }} {{ macros::month(n=page.month) }} {{ page.year }}</strong></p>
</div>

<div id="article-content">
  {{ page.content | safe }}
</div>

<nav id="blog-nav">
  <div class="bullet-points-list">
    {% if page.earlier %}
    <a href="/blog/{{ page.earlier.slug }}">
      <div class="bullet-point-item bullet-point-item-center">
        <div class="bullet-point-mark">
          ⬅️
        </div>
        <div class="bullet-point-text">
          <strong>Previous Article</strong>:
          {{ page.earlier.title }}
        </div>
      </div>
    </a>
    {% endif %}
    {% if page.later %}
    <a href="/blog/{{ page.later.slug }}">
      <div class="bullet-point-item bullet-point-item-center">
        <div class="bullet-point-mark">
          ➡️
        </div>
        <div class="bullet-point-text">
          <strong>Next Article</strong>:
          {{ page.later.title }}
        </div>
      </div>
    </a>
    {% endif %}
    <a href="/blog">
      <div class="bullet-point-item bullet-point-item-center">
        <div class="bullet-point-mark">
          📚
        </div>
        <div class="bullet-point-text">
          Blog Index
        </div>
      </div>
    </a>
  </div>
</nav>
{% endblock content %}