{% extends "base.html" %}
{% block content %}
<div class="crowded margin-block" style="margin-bottom: 0;">
    <p>
        Plabayo was co-founded in 2021 by
        <a href="https://www.elizadc.me/">👩‍💻&nbsp;Elizabeth C. Gonzales Belsuzarri</a>
        and
        <a href="https://www.glendc.com/">👨‍💻&nbsp;Glen Henri J. De Cauwsemaecker</a>
        as a Free and Open Source Software (FOSS) dev
        and consultancy studio&nbsp;🏡.
    </p>
    <p>
        If you like our work and would like to donate to us,
        you can do so at
        <a href="https://github.com/sponsors/plabayo">🤝&nbsp;https://github.com/sponsors/plabayo</a>.
    </p>
</div>
<div class="margin-block width:100%" style="margin-top: 0;">
    <h2 id="projects"><a href="#projects">🏖️&nbsp;projects</a></h2>
    {% for project in projects %}
    <div class="box crowded width:100%" style="margin-bottom: 10px;">
        <strong class="block titlebar">
            <span>{{ project.icon }}</span>
            {{ project.name }}
            {% match project.github_info %}
            {% when Some with (github_info) %}
            <span style="float: right;">
                <a href="https://github.com/plabayo/{{ github_info.repo }}">⭐&nbsp;{{ github_info.stars }}</a>
            </span>
            {% when None %}
            {% endmatch %}
        </strong>
        <p>
            {{ project.description }}
        </p>
        <p>
            <span style="margin-right: 5px">🔗</span><a href="{{ project.url }}">{{ project.url }}</a>
        </p>
        <section>
            {% for label in project.labels %}
            <chip style="padding: 5px">{{ label }}</chip>
            {% endfor %}
        </section>
    </div>
    {% endfor %}
</div>
{% endblock %}
