{% extends "layouts/base.html" %}

{% block content %}

<h1>Plabayo — Play, Work and Grow</h1>

<p>
    <strong>Plabayo</strong> was co-founded in 2021 by
    <a href="https://elizadc.me">Elizabeth C. Gonzales Belsuzarri</a> and
    <a href="https://glendc.com">Glen Henri J. De Cauwsemaecker</a>.
</p>

<p>
    We are located in Ghent, Belgium and
    are available with events on premise within Belgium. 
</p>

<p>
    Remotely we are open to any location and timezone.
</p>

<blockquote>
    <p>
        <strong>Education</strong>,
        <strong>Privacy</strong> and
        <strong>transparency</strong>
        is at the core of our mission.
    </p>
</blockquote>

<p>
    Whether you have questions, are in need of our services
    or wish to work together with us, you can reach out to us by mail at
    <a href="mailto:contact@plabayo.tech">contact@plabayo.tech</a>.
</p>

<p>
    You can stay up to date with our progress and thoughts by
    <a href="/blog">reading our blog</a>, also available by
    <a href="/rss.xml">RSS</a>.
</p>

<blockquote>
    <div id="blog-article-list">
    {% set blog_section = get_section(path="blog/_index.md") %}
    {% for page in blog_section.pages | slice(end=5) %}
        <article>
            <h2><a href="/blog/{{ page.slug }}">{{ page.title }}</a></h2>, <span class="blog-article-title">{{ page.day }} {{ macros::month(n=page.month) }} {{ page.year }}</span>
            <section>
            <p class="blog-article-author">
                {% for author in page.taxonomies.authors %}
                    <a href="/authors/{{ author | slugify}}">{{ author }}</a>
                    {% if not loop.last %}
                    , 
                    {% endif %}
                {% endfor %}
            </p>
            <p class="blog-article-tags">
                tags: 
                {% for tag in page.taxonomies.tags %}
                  <a href="/tags/{{ tag | slugify}}">{{ tag }}</a>
                  {% if not loop.last %}
                  , 
                  {% endif %}
                {% endfor %}
            </p>
            <p>{{ page.description }}</p>
            </section>
        </article>
        {% endfor %}
    </div>
</blockquote>

<h2>Consulting</h2>

<p>
    Glen offers his consultancy services within the realms of software:
</p>

<div class="bullet-points-list">
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            🛠️
        </div>
        <div class="bullet-point-text">
            The entire software development cycle;
        </div>
    </div>
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            💻
        </div>
        <div class="bullet-point-text">
            Including, but not only limited to, architecture,
            prototyping, R&D, technical UX, development, testing, reviewing and debugging;
        </div>
    </div>
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            ⚙️
        </div>
        <div class="bullet-point-text">
            Topics include backend development,
            data scraping, tooling, automatization, game programming,
            game engine development, API design and more;
        </div>
    </div>
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            🧰
        </div>
        <div class="bullet-point-text">
            Programming language expertise in Rust, Go and Python,
            with a background in C++ and comfortable with many other languages;
        </div>
    </div>
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            📜
        </div>
        <div class="bullet-point-text">
            Workshops, classes, mentoring and talks are also possible.
        </div>
    </div>
</div>

<p>
    <strong>
        Rates and terms are agreed upon directly with
        the client and are in function of their needs and requirements.
    </strong>
</p>

<blockquote>
    <p>
        Availability is limited. If interested,
        please reach out to Glen by email on
        <a href="mailto:glen@plabayo.tech">glen@plabayo.tech</a>.
    </p>
</blockquote>

<p>
    Elizabeth can be hired as a consultant as well.
    She's the person you're looking for if you are in
    need of a consultant related to:
</p>

<div class="bullet-points-list">
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            👩‍🏫
        </div>
        <div class="bullet-point-text">
            Education inspired by montessori;
        </div>
    </div>
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            👶
        </div>
        <div class="bullet-point-text">
            Conscious parenting;
        </div>
    </div>
    <div class="bullet-point-item">
        <div class="bullet-point-mark">
            ⚡
        </div>
        <div class="bullet-point-text">
            Process automatization and business analytics.
        </div>
    </div>
</div>

<p>
    She can find a fitting solution to any problem and does so with great passion.
</p>

<blockquote>
    <p>
        If you want to make use of her services you can reach
        her by email on
        <a href="mailto:elizabeth@plabayo.tech">elizabeth@plabayo.tech</a>.
    </p>
</blockquote>

<h2>Projects</h2>

<p>
    Next to consulting and our open source contributions we
    also work on <a href="/projects">some projects of our own</a>.
</p>

<p>
    You can find all our projects on our
    <a href="https://github.com/plabayo">
        our Github organization home page
    </a>
    .
</p>

<blockquote>
    <div id="project-article-list">
        {% set projects_section = get_section(path="projects/_index.md") %}
        {% for page in projects_section.pages | slice(end=3) %}
        <article>
          <h2><a href="/projects/{{ page.slug }}">{{ page.title }}</a></h2>,
          <span>website: <a href="{{ page.extra.website }}">{{ page.extra.website }}</a></span>
          <section>
            <p>{{ page.description }}</p>
            <blockquote>
              <p>
                {{ page.extra.status | safe }}
              </p>
            </blockquote>
          </section>
        </article>
        {% endfor %}
    </div>
</blockquote>

{% endblock content %}