{% extends "base.html" %} {% block content %} {% include "includes/nav.html" %}
<main class="article">
    <article>
        {% match this.card %} {% when Some with (card) %}
        <h1>{{ this.header }}</h1>
        {{ card.description_short|safe }} {% when None %} {% endmatch %}

        <h2>We Port Existing Software</h2>

        <p>
            At our business, we understand that software porting can be a
            complex process, and we're here to help. With our extensive
            experience in porting existing software into a better version of
            itself using Rust, we can help your business take advantage of
            Rust's benefits, including high performance and memory safety.
            Whether you need help with the process from start to finish or just
            need a mentor to guide you through the process, we're here to help.
        </p>
        <p>
            Our team specializes in porting software for performance reasons,
            including languages such as JavaScript, Python, Golang, Java, and
            C#. We understand that performance is critical to the success of
            your business, and we can help you optimize your software to run
            faster and more efficiently. Additionally, we have experience in
            porting C and C++ software for security reasons. We understand the
            importance of security in today's digital landscape, and we can help
            you ensure that your software is as secure as possible.
        </p>

        <h3>Hire our broad experience:</h3>

        <p>
            Our team has extensive experience with all these languages on a
            variety of platforms, including desktop, mobile, and web. We
            understand that every software project is unique, and we can tailor
            our approach to meet your specific needs. Whether you need help with
            a small project or a large enterprise application, we have the
            skills and expertise to get the job done right. Contact us today to
            learn more about how we can help your business with software porting
            and optimization.
        </p>
    </article>
</main>
{% endblock %}
