{% extends "layouts/base.html" %}

{% block content %}

<p>
  <a href="/projects" style="text-decoration: none;">Go back to our projects overview</a>
</p>

<article>

<div id="article-header">
  <h1 class="title">
    {{ page.title }}
  </h1>
  <h3>
    <a href="{{ page.extra.website }}">website: {{ page.extra.website }}</a>
  </h3>
  <blockquote>
    {{ page.extra.status | safe }}
  </blockquote>
</div>

<section>
<div id="article-content">
  {{ page.content | safe }}
</div>
</section>

</article>

{% endblock content %}
