{% extends "layouts/base.html" %}

{% block head %}

<link rel="canonical" href="https://plabayo.tech/projects/" />

<meta property="og:title" content="Projects by Plabayo" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://plabayo.tech/projects/" />
<meta property="og:description" content="Projects developed by Plabayo are displayed here." />

<meta property="og:image" content="https://raw.githubusercontent.com/plabayo/design/main/art/2d/bin/hero_banner_og.png" />
<meta property="og:image:secure_url" content="https://raw.githubusercontent.com/plabayo/design/main/art/2d/src/hero_banner_og.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="Plabayo's Original Logo Hero Banner" />

{% endblock head %}

{% block content %}

{{ section.content | safe }}

<div id="project-index">
  <div id="project-article-list">
    {% for page in section.pages %}
    <article>
      <h2><a href="/projects/{{ page.slug }}">{{ page.title }}</a></h2>,
      <span>website: <a href="{{ page.extra.website }}">{{ page.extra.website }}</a></span>
      <section>
        <p>{{ page.description }}</p>
        <blockquote>
          <p>
            {{ page.extra.status | safe }}
          </p>
        </blockquote>
      </section>
    </article>
    {% endfor %}
  </div>
</div>

{% endblock content %}
