{% extends "layouts/base.html" %}

{% block head %}

<link rel="canonical" href="https://plabayo.tech/blog-authors/{{ term.name | slugify }}" />

{% endblock head %}

{% block content %}

<a href="/blog" class="subtle-link">
    <div class="bullet-point-item bullet-point-item-center">
        <div class="bullet-point-mark">
        ⬅️
        </div>
        <div class="bullet-point-text">
           The Plabayo Blog
        </div>
    </div>
</a>

<h1>Author: {{ term.name }}</h1>

<p>
    On this page you can find all articles written by {{ term.name }}.
</p>

<div id="blog-article-list">
{% for page in term.pages %}
<article>
    <h2><a href="/blog/{{ page.slug }}">{{ page.title }}</a></h2>, <span class="blog-article-title">{{ page.day }} {{ macros::month(n=page.month) }} {{ page.year }}</span>
    <section>
        <p class="blog-article-author">
            {% for author in page.taxonomies.blog_authors %}
                <a href="/blog-authors/{{ author | slugify}}">{{ author }}</a>
                {% if not loop.last %}
                , 
                {% endif %}
            {% endfor %}
        </p>
        <p class="blog-article-tags">
            <span class="emoji-label">🏷</span> tags: 
            {% for tag in page.taxonomies.blog_tags %}
              <a href="/blog-tags/{{ tag | slugify}}">{{ tag }}</a>
              {% if not loop.last %}
              , 
              {% endif %}
            {% endfor %}
        </p>
        <p>{{ page.description }}</p>
    </section>
</article>
{% endfor %}
</div>

{% endblock content %}